body {
  margin: 0;
  padding-bottom: 50px;
  font-family: "Gill Sans";
}

.landing-page {
  width: 100%;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: lighter;
}

h3 {
  font-size: 28px;
  font-weight: normal;
}

h4 {
  font-weight: normal;
  font-size: 24px;
}

h5 {
  font-weight: normal;
  font-size: 18px;
}

.sentence {
  margin-right: 0.35rem;
}

.black-and-white {
  filter: grayscale(100%);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/*********** MENU ************/

#menu {
  margin-top: 20px;
  margin-bottom: 50px;
}

#menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#menu-items a {
  font-size: 24px;
  margin-left: 3rem;
  margin-right: 3rem;
  text-decoration: none;
  color: black;
}

/*********** LANDING PAGE ************/
.img-caption {
  font-size: 14px;
  top: 360px;
  right: 10px;
  font-weight: lighter;
  position: absolute;
  color: white;
}

.banner-image img {
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
  object-fit: cover;
  object-position: center;
}

/*********** CONTACT INFO ************/

#contact-section {
  width: 50%;
  margin-left: 25%;
  border-radius: 20px;
  /* border: 1px solid rgb(0, 0, 0, 0.25); */
  background-color: rgb(247, 234, 223, 0.5);
  padding: 15px;
  margin-top: 50px;
}

#contact-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

#contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#contact-logos img {
  width: 30px;
  margin-right: 20px;
}

#landing-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

#landing-email p {
  margin-right: 10px;
}

/*********** ABOUT ME ************/

#about-section {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#bio-pic {
  width: 30%;
  max-width: 500px;
  margin-right: 50px;
}

#about-text {
  width: 30%;
  text-align: justify;
}

/*********** HAPPY LIST ************/

#happy-things-wrapper {
  text-align: center;
  margin-top: 50px;
}

#happy-things-wrapper h4 {
  margin-bottom: 0;
}

#happy-things-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20%;
  width: 60%;
  margin-top: 10px;
}

.things-i-like-description {
  min-height: 150px;
}

.happy-thing {
  width: 29%;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 450px;
}

.happy-thing p {
  font-size: 16px;
  text-align: justify;
}

.happy-thing img {
  border-radius: 50%;
  width: 60%;
  margin-top: 15px;
}

/***** Resume *****/

#resume {
  justify-content: center;
  width: 60%;
  margin-left: 20%;
  font-size: 1.25rem;
  font-weight: 100;
}

.resume-section-header {
  font-size: 1.5rem;
  margin-bottom: 12px;
  margin-top: 20px;
  font-weight: 500;
}

.resume-section-divider {
  border-bottom: 2px solid;
  margin-bottom: 12px;
  border-color: rgb(202, 96, 15);
  width: 100%;
}

.experience-header,
.education-header,
.education-description-gpa,
.project-header {
  justify-content: space-between;
}

.resume-company,
.resume-school,
.resume-project {
  font-weight: 500;
}

.company-role-divider,
.project-link-divider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.professional-experience,
.education {
  margin-top: 20px;
}

ul {
  list-style: none;
}

ul li:before {
  content: "-";
  position: absolute;
  text-indent: -20px;
}

ul li {
  margin-top: 0.25rem;
}

.resume-professional-achievements {
  margin-top: 0;
  margin-bottom: 0;
}

#resume-download {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: none;
  padding: 15px;
  background-color: transparent;
}

#resume-download a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-family: "Gill Sans";
}

/***** 404 Page *****/
#not-found-img {
  width: 30%;
}

/***** MOBILE STYLING *****/

@media only screen and (max-width: 800px) {
}
