# JPEG
*.jpg
*.jpeg

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg

# Portable Document Format
*.pdf

# ICO
*.ico
